@*Index de la pagina de Inicio*@
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*Agregamos un div con boostrap el cual contendra una imagen*@
<div class="row justify-content-center"> 
    <div class="col-12 text-center">
        @*Añadimos la imagen con este comando y que quede en el centro*@
        <img src="~/img/contacto.jpg" class="img-fluid" />
    </div>

</div>